/* ALTERA TUDO */
* {
  margin: 0 auto;
  padding: 0 auto;
  box-sizing: border-box;
  font-family: "Prompt", sans-serif;
  font-family: "Raleway", sans-serif;
  font-family: "Roboto Flex", sans-serif;
  font-family: "Ubuntu", sans-serif;
}
/* ALTERA O MENU */
nav {
  position: relative;
}
.navbar-container {
  width: 100%;
  height: 5rem;
  background-color: #f1f1f1;
  padding: 0 1rem;
}
.logo {
  width: 13.5rem;
  margin-top: 0.4rem;
}
.navbar-items {
  position: absolute;
  right: 0;
  height: 5rem;
  line-height: 5rem;
  margin: 0;
  display: inline-block;
}
.navbar-items li {
  display: inline-block;
  margin-left: 1.5rem;
  text-transform: uppercase;
  text-decoration: none;
}
.navbar-items a {
  text-decoration: none;
  color: #232a31;
  transition: 0.5s;
  font-weight: 450;
}
.navbar-items a:hover {
  color: #5c5c5c;
}
.default-btn {
  padding: 0.9375rem 1.25rem;
  background-color: #92f20c;
  border-radius: 0.3125rem;
}
.navbar-items .default-btn:hover {
  background-color: #83da0b;
  color: #383838;
}
/* ALTERA A FRASE/IMAGEM INCIAL */
.main-banner {
  background-color: #232a31;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30rem;
  padding: 7rem;
  gap: 5rem;
}
.main-banner p {
  color: #f1f1f1;
  font-size: 2.2rem;
}
/* ALTERA A SESSÃO DOS SERVIÇOS */
.services-container {
  display: flex;
  padding: 3rem;
  margin: 0 auto;
}
.services-container ul {
  list-style: none;
  display: flex;
  text-align: center;
}
.services-container p {
  padding: 1rem;
  color: #747474;
  font-size: 1rem;
}
.services-container h3 {
  font-size: 1.4rem;
  padding: 0.5rem;
  color: #232a31;
}
.fas {
  font-size: 4rem;
}
.fa-shield-alt {
  color: #00f917;
}
.fa-rocket {
  color: #f9e500;
}
.fa-comments {
  color: #92f20c;
}
/* ALTERA A SEÇÃO DOS PREÇOS */
.price-container-title{
  padding: 3rem 0 2rem 0;
  text-align: center;
}
.price-container h2 {
  font-size: 2rem;
  color: #232a31;
  margin-top: 0;
}
.price-container p {
  font-size: 1.5rem;
}
.plans-container {
  display: flex;
  width: 90%;
  gap: .5rem;
  justify-content: center;
  padding: 1rem;
  align-items: stretch;
}

.plan {
  border: 1px solid #ddd;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.1);;
}

.plan-header {
  background-color: #232a31;
  width: 100%;
  text-align: center;
  padding: 1rem;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);;
}

.plan-title {
  font-weight: bold;
  color: #f1f1f1;
  font-size: .7rem;
  margin-bottom: 5px;
  text-transform: uppercase;
}
.plan-price {
  font-weight: bold;
  font-size: 1.5rem;
  color: #2cc762;
}
.plan ul {
  padding: 1rem;
}
.plan li {
  list-style: none;
  padding: .5rem;
}
.plan-button {
  background-color: #2cc762;
  color: #fff;
  padding: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 1rem;
}
.btn-recommended {
  background-color: #92f20c;
  color: #111;
  padding: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 1rem;
}
.recommended {
  color: #92f20c;
}